.root {
  @apply text-sm outline-none rounded-sm duration-300 w-full;
  border: 1px solid #f3f3f3;
  color: #495057;
  height: 46px;
  padding: 14px 22px;
  transition: 0.3s ease all;
  &:focus {
    @apply border-info;
  }
}
