.root {
  @apply flex items-start justify-between w-full;
  & > div {
  }
  & > span {
    @apply text-sm text-dark;
  }
  & > ul {
    @apply flex;
    li {
      button {
        @apply border-1 border-gray-lightest rounded-none w-8 h-9 px-0;
        background-color: theme('colors.white') !important;
        color: theme('colors.black') !important;
        box-shadow: none !important;
        &:hover {
          border-color: theme('colors.gray-lightest') !important;
          background-color: #f4f5fa !important;
        }
      }
      &.active button {
        border-color: theme('colors.primary') !important;
        background-color: theme('colors.primary') !important;
        color: theme('colors.white') !important;
      }
    }
  }
}
