.root {
  @apply flex items-center justify-center text-sm px-6 h-11 w-fit;
  border-radius: 3px;
  transition: 0.3s ease all;

  &:disabled {
    @apply cursor-default;
    opacity: 0.65;
  }

  &.primary {
    @apply bg-primary text-white;

    &:not(:disabled) {
      &:hover {
        background-color: #6b3aa3;
        border-color: #65369a;
        box-shadow: 0 2px 2px 0 theme('colors.primary') / 14,
          0 3px 1px -2px theme('colors.primary') / 20,
          0 1px 5px 0 theme('colors.primary') / 12;
      }
      &:active {
        background-color: #6b3aa3;
        border-color: #65369a;
      }
      &:focus,
      &:active {
        @apply ring-4 ring-primary/50;
      }
    }
  }

  &.success {
    @apply bg-success text-white;
    &:not(:disabled) {
      &:hover {
        background-color: #188e04;
        border-color: #168104;
        box-shadow: 0 2px 2px 0 theme('colors.success') / 14,
          0 3px 1px -2px theme('colors.success') / 20,
          0 1px 5px 0 theme('colors.success') / 12;
      }
      &:active {
        background-color: #188e04;
        border-color: #168104;
      }
      &:focus,
      &:active {
        @apply ring-4 ring-success/50;
      }
    }
  }

  &.secondary {
    @apply bg-secondary text-white;
    &:not(:disabled) {
      &:hover {
        background-color: #565b76;
        border-color: #51566e;
        box-shadow: 0 2px 2px 0 theme('colors.secondary') / 14,
          0 3px 1px -2px theme('colors.secondary') / 20,
          0 1px 5px 0 theme('colors.secondary') / 12;
      }
      &:active {
        background-color: #565b76;
        border-color: #51566e;
      }
      &:focus,
      &:active {
        @apply ring-4 ring-secondary/50;
      }
    }
  }

  &.danger {
    @apply bg-danger text-white;
    &:not(:disabled) {
      &:hover {
        background-color: #bd2130;
        border-color: #b21f2d;
        box-shadow: 0 2px 2px 0 theme('colors.danger') / 14,
          0 3px 1px -2px theme('colors.danger') / 20,
          0 1px 5px 0 theme('colors.danger') / 12;
      }
      &:active {
        background-color: #bd2130;
        border-color: #b21f2d;
      }
      &:focus,
      &:active {
        @apply ring-4 ring-danger/50;
      }
    }
  }

  &.warning {
    @apply bg-warning text-white;
    &:not(:disabled) {
      &:hover {
        background-color: #cb7d0a;
        border-color: #be750a;
        box-shadow: 0 2px 2px 0 theme('colors.warning') / 14,
          0 3px 1px -2px theme('colors.warning') / 20,
          0 1px 5px 0 theme('colors.warning') / 12;
      }
      &:active {
        background-color: #cb7d0a;
        border-color: #be750a;
      }
      &:focus,
      &:active {
        @apply text-white ring-4 ring-warning/50;
      }
    }
  }

  &.info {
    @apply bg-info text-white;
    &:not(:disabled) {
      &:hover {
        background-color: #2766a5;
        border-color: #2766a5;
        box-shadow: 0 2px 2px 0 theme('colors.info') / 14,
          0 3px 1px -2px theme('colors.info') / 20, 0 1px 5px 0 theme('colors.info') / 12;
      }
      &:active {
        background-color: #2766a5;
        border-color: #2766a5;
      }
      &:focus,
      &:active {
        @apply text-white ring-4 ring-info/50;
      }
    }
  }
  &.light {
    @apply bg-light text-dark;
    &:not(:disabled) {
      &:hover {
        background-color: #e2e6ea;
        border-color: #e2e6ea;
        box-shadow: 0 2px 2px 0 theme('colors.light') / 14,
          0 3px 1px -2px theme('colors.light') / 20,
          0 1px 5px 0 theme('colors.light') / 12;
      }
      &:active {
        background-color: #e2e6ea;
        border-color: #e2e6ea;
      }
      &:focus,
      &:active {
        @apply ring-4 ring-light/50;
      }
    }
  }
}
