.root {
  @apply relative w-[inherit] h-[inherit];
  & > span {
    @apply flex items-center text-sm outline-none rounded-sm duration-300
    min-h-[46px] pb-1.5 px-1.5 text-[#495057];
    border: 1px solid #f3f3f3;
    color: #495057;
    transition: 0.3s ease all;
    &:not(:disabled) {
      cursor: pointer;
    }
    &:focus {
      @apply border-info;
    }
    ul {
      @apply flex flex-wrap;
      li {
        @apply flex items-center mt-1.5 mr-1.5 h-fit;
        input {
          @apply p-0 border-0 h-fit;
        }
      }
    }
  }
  & > div {
    @apply flex flex-col absolute w-full h-[inherit] bg-white z-50;
    border: 1px solid #f3f3f3;
    border-top: 0;
    & > span {
      @apply p-1;
      input {
        @apply h-[30px] p-1 text-[13px];
      }
    }
  }
}
