.root {
  @apply relative w-[inherit] h-[inherit];
  & > span {
    // width: inherit;
    @apply flex items-center text-sm outline-none rounded-sm duration-300 
    h-[46px] px-[22px] text-[#495057];
    border: 1px solid #f3f3f3;
    transition: 0.3s ease all;
    &:not(:disabled) {
      cursor: pointer;
    }
    &:focus {
      @apply border-info;
    }
  }
  & > div {
    @apply flex flex-col absolute w-full h-[inherit] bg-white z-50;
    border: 1px solid #f3f3f3;
    border-top: 0;
    & > span {
      @apply p-1;
      input {
        @apply h-[30px] p-1 text-[13px];
      }
    }
  }
  svg {
    @apply absolute right-1 top-1/2 -translate-y-1/2 text-secondary;
  }
}
